accelerate==1.5.2
diffusers==0.30.0
transformers==4.50.3
huggingface-hub==0.30.1
safetensors==0.5.3
tokenizers==0.21.1
sentencepiece==0.2.0

torch==2.6.0
torchvision==0.21.0
triton==3.2.0

numpy==2.2.4
einops==0.8.1
sympy==1.13.1

pillow==11.1.0
opencv-python==4.11.0.86

tqdm==4.67.1
regex==2024.11.6
PyYAML==6.0.2
packaging==25.0
filelock==3.18.0
requests==2.32.3
fsspec==2025.3.2
typing_extensions==4.13.2
